*{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
}
nav{
    top: 0;
}
.first-section img{
height: 680px;
width: 500px;
}

.second-section{
    position: relative;

}
.a{
    position: absolute;
    margin-top: 50px;
    margin-left: 100px;
}
.b{
    position: absolute;
    margin-left: 600px;
    margin-top: 50px;
    
}
.c{
    position: absolute;
    margin-left: 1100px;
    margin-top: 50px;
    
}
.a img{
    height: 400px;

}
.b img{
    height: 400px;
}
.c img{
    height: 400px;
}
.section-three{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    /* background-color: cadetblue; */
}
.section-three img{
    height: 500px;
    width: 500px;
    border-radius: 150px;
    border: 5px solid brown;
}
.section-three p{
    color: navy;
    font-size: 20px;
    font-style: italic;
}
.one{
    margin-top: 800px;
    margin-left: 20px;
}
.one-second{
    margin-left: 650px;
    margin-top: -300px;
    width: 800px;

}
.two img{
     margin-top: 200px;
     margin-left: 900px;
}
.two-second{
    margin-top: -250px;
    width: 500px;
    margin-left: 50px;
}
.three{
    margin-top: 200px;
    margin-left: 20px;
}
.three-second{
    margin-left: 650px;
    margin-top: -300px;
    width: 800px;
}
footer{
    margin-top: 300px;
    text-align: center;
    background-color:rgb(146, 141, 141);
    color: rgb(0, 0, 0);
}